.DS_Store
.*DS_Store
model.rb
samples/*
!samples/.gitkeep
Samples/*
!Samples/.gitkeep
records/*
!records/.gitkeep
SonicPiSuperColliderSynthDefs
synths/*
!synths/.gitkeep
dark_mist.rb
python/__pycache__/*
python.bak/__pycache__/*
.data/*
!.data/.gitkeep
aa
config.json
config.json*
config.coffeecore.json
!config.json.example