{
    "osc": {
        "host": "192.168.1.15",
        "port": 4560
    },
    "machine": {
        "bpm": 60,
        "pmax": 2,
        "bar": 4,
        "eighth": 0.25
    },
    "channels": [
        {
            "type": "sample",
            "name": "bd_tek",
            "fxs": {
                "distortion": {
                    "distort": 0.7
                }
            }
        },
        {
            "type": "sample",
            "name": "drum_cymbal_closed",
            "options": {
                "amp": 0.5
            }
        },
        {
            "type": "sample",
            "name": "sn_dub"
        },
        {
            "type": "synth",
            "name": "tb303",
            "options": {
                "cutoff": 80,
                "release": 0.25,
                "res": 0.8
            }
        },
        {
            "type": "synth",
            "name": "pulse",
            "options": {
                "release": 0.2,
                "mod_rate": 5,
                "amp": 0.6
            }
        }
    ]
}
